@import "tailwindcss";

body {
  font-family: "Clash Display", "Satoshi", Arial, sans-serif;
  background-color: #020202;
}

@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("/fonts/ClashDisplay-Extralight.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Extralight.woff") format("woff"),
    url("/fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Light";
  src: url("/fonts/ClashDisplay-Light.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Light.woff") format("woff"),
    url("/fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("/fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Regular.woff") format("woff"),
    url("/fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Medium.woff") format("woff"),
    url("/fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("/fonts/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Semibold.woff") format("woff"),
    url("/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("/fonts/ClashDisplay-Bold.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Bold.woff") format("woff"),
    url("/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Light";
  src: url("/fonts/Satoshi-Light.woff2") format("woff2"),
    url("/fonts/Satoshi-Light.woff") format("woff"),
    url("/fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("/fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-LightItalic.woff") format("woff"),
    url("/fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff"),
    url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url("/fonts/Satoshi-Italic.woff2") format("woff2"),
    url("/fonts/Satoshi-Italic.woff") format("woff"),
    url("/fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/Satoshi-Medium.woff") format("woff"),
    url("/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("/fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("/fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff"),
    url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("/fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("/fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("/fonts/Satoshi-Black.woff2") format("woff2"),
    url("/fonts/Satoshi-Black.woff") format("woff"),
    url("/fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("/fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("/fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("/fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

.bw-hover {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.bw-hover:hover {
  filter: grayscale(0%);
}

/* text flip animation  */

@keyframes flip {
  from {
    margin-top: 0px;
  }
  3% {
    margin-top: -45px;
  }

  20% {
    margin-top: -45px;
  }
  23% {
    margin-top: -90px;
  }

  40% {
    margin-top: -90px;
  }
  43% {
    margin-top: -135px;
  }

  60% {
    margin-top: -135px;
  }
  63% {
    margin-top: -180px;
  }

  80% {
    margin-top: -180px;
  }
  83% {
    margin-top: -225px;
  }

  to {
    margin-top: -225px;
  }
}

@keyframes mobileflip {
  from {
    margin-top: 0px;
  }
  3% {
    margin-top: -32px;
  }

  20% {
    margin-top: -32px;
  }
  23% {
    margin-top: -64px;
  }

  40% {
    margin-top: -64px;
  }
  43% {
    margin-top: -96px;
  }

  60% {
    margin-top: -96px;
  }
  63% {
    margin-top: -128px;
  }

  80% {
    margin-top: -128px;
  }
  83% {
    margin-top: -160px;
  }

  to {
    margin-top: -160px;
  }
}

.animate-flip {
  animation: flip 10s infinite;
}
.animate-mobileflip {
  animation: mobileflip 10s infinite;
}

/* loading animation */

.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &:before {
    content: "";
    width: 50px;
    height: 5px;
    background: #efeeee;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }
  &:after {
    content: "";
    width: 50px;
    height: 50px;
    background: #d1fd0a;
    animation: animate 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7px;
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Track background */
}

::-webkit-scrollbar-thumb {
  background-color: #ece7e1; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid transparent; /* Optional: add space inside */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c0e100;
}
