@import "tailwindcss";
@import url("../../public/css/tanker.css");
@import url("../../public/css/clash-display.css");

body {
  background-color: #020202;
}

.bw-hover {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.bw-hover:hover {
  filter: grayscale(0%);
}

@keyframes flip {
  from {
    margin-top: 0px;
  }
  3% {
    margin-top: -45px;
  }

  20% {
    margin-top: -45px;
  }
  23% {
    margin-top: -90px;
  }

  40% {
    margin-top: -90px;
  }
  43% {
    margin-top: -135px;
  }

  60% {
    margin-top: -135px;
  }
  63% {
    margin-top: -180px;
  }

  80% {
    margin-top: -180px;
  }
  83% {
    margin-top: -225px;
  }

  to {
    margin-top: -225px;
  }
}

.animate-flip {
  animation: flip 10s infinite;
}
