@import "tailwindcss";
@import url("../../public/css/tanker.css");
@import url("../../public/css/satoshi.css");

body {
  background-color: #020202;
}

.bw-hover {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.bw-hover:hover {
  filter: grayscale(0%);
}

/* text flip animation */

@keyframes flip {
  from {
    margin-top: 0px;
  }
  3% {
    margin-top: -45px;
  }

  20% {
    margin-top: -45px;
  }
  23% {
    margin-top: -90px;
  }

  40% {
    margin-top: -90px;
  }
  43% {
    margin-top: -135px;
  }

  60% {
    margin-top: -135px;
  }
  63% {
    margin-top: -180px;
  }

  80% {
    margin-top: -180px;
  }
  83% {
    margin-top: -225px;
  }

  to {
    margin-top: -225px;
  }
}

.animate-flip {
  animation: flip 10s infinite;
}

/* loading animation */

.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &:before {
    content: "";
    width: 50px;
    height: 5px;
    background: #efeeee;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }
  &:after {
    content: "";
    width: 50px;
    height: 50px;
    background: #d1fd0a;
    animation: animate 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7px;
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Track background */
}

::-webkit-scrollbar-thumb {
  background-color: #ECE7E1; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid transparent; /* Optional: add space inside */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c0e100;
}
